<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Deine Einkaufslisten <span *ngIf="selectedShoppingList">- {{selectedShoppingList.name}}</span></ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Verfügbare Listen</ion-label>
    <ion-select [(ngModel)]="selectedShoppingList" multiple="false">
      <ion-option *ngFor="let shoppingList of availableShoppingLists" [value]="shoppingList">
        {{shoppingList.name}}
      </ion-option>
    </ion-select>
  </ion-item>

  <span *ngIf="selectedShoppingList">
    <p>Ausgewählte Liste</p>
    <p>{{selectedShoppingList.name}} von {{selectedShoppingList.creator}}</p>


    <p>Produkte der Liste</p>
    <span *ngFor="let product of selectedShoppingList.products">
      {{product.name}}
    </span>

  </span>


  <ion-fab right bottom>
    <button ion-fab (click)="createNewShoppingList()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
